body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: lightgray;
    padding: 20px;
  }
  
 li a input#buscar {
    padding: 0.5em 0.1em;
    box-sizing: border-box;
    border: 0.2em solid #000000;
    overflow: visible;
  }
  li a input#buscar:hover {
    padding: 0.5em 0.1em;
    background-color: gray;
    box-sizing: border-box;
    border: 0.2em solid #000000;
    overflow: visible;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  .pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pokemon {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    width: 25%;
    margin: 1%;
    border: 0.1em solid black;
    padding: 1%;
    text-align: center;
    
  }
  
  footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
  }

  main{
    width: 80%;
    margin: 0 auto;
  }