body {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
  }

  @font-face {
    font-family: "Letra pokemon";
    src: url("/fuentes/Pokemon\ Solid.ttf");
  }


  header {
    font-family: "Letra pokemon";
    color: 	#000000;
    text-align: center;
    font-size: 1.2em;
    padding: 0.0001em;
    
    
  }
  li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

 li a input#buscar {
    
    box-sizing: border-box;
    border: 0.2em solid #666464;
    border-radius: 20px;
    overflow: visible;
  }
  li a input#buscar:hover {
    
    box-sizing: border-box;
    border: 0.2em solid #6b46ba;
    border-radius: 20px;
    overflow: visible;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.1rem;
  }
  
  nav li {
    
    margin-right: 10px;
  }
  
  .pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .pokemon {
    width: 30%;
    margin-bottom: 20px;
    display: inline-block;
    width: 120px;
    margin: 1%;
    outline: 3px dotted #000000;
    border-radius: 20px;
    padding: 0.8%;

  }
  div.pokemon input#Fuego {
    color:#ffffff;
    border-radius:8px;
    background-color: red;
    border: 0.1em solid orange;
    width: 4em;
    height: 1.7em;
    outline: 0.1rem solid #000000;
  }

  div.pokemon input#Agua {
    color:#ffffff;
    border-radius:8px;
    background-color: blue;
    border: 0.1em solid white;
    width: 4em;
    height: 1.7em;
    outline: 0.1rem solid #000000;
  }

  div.pokemon input#Planta {
    color:#ffffff;
    border-radius:8px;
    background-color: darkgreen;
    border: 0.1em solid darkolivegreen;
    width: 4em;
    height: 1.7em;
    outline: 0.1rem solid #000000;
  }
  
  footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
  }

  main h1 {
    font-family: "Letra pokemon";
    font-size: 1.5em;
  }
